body {
    background-color: lightgray; 
}

.navbar {
    background-color: #33454B;
}

.navbar-brand:hover {
    color: lightseagreen !important;
}

.nav-link:hover {
    color: lightseagreen !important;
}

.descrp {
    background-color: white;
    margin-top: 40px;
    padding-top: 20px
}

.sidebar {
    background-color: white;
    margin-top: 40px;
    padding-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: lightseagreen;
}

.sidebarimg {
    width: 200px;
    padding: 2px;
}

h3 {
   text-align: center; 
   color: #33454B;
   font-weight: bold;
   padding-bottom: 10px
}
.descrpimg {
    width: 100px;
    float: left;
}
h4{
    color: #33454B;
    padding-bottom: 10px;
    text-align: center;
 }

.vizimg {
    width: 500px
}